# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Pytest cache
.pytest_cache/

# Type checker / linter caches
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# VS Code
.vscode/

# macOS
.DS_Store

# IDEs
.idea/

# Python env files
.env

# Home Assistant custom components specifics
*.storage
.storage/
.cloud/
home-assistant.log*
*.db
*.sqlite*
secrets.yaml
